.gif-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  list-style: none;
}
.gif-entry {
  box-sizing: border-box;
  box-shadow: 0 2px 3px $light-gray;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;

  &:hover {
    background-color: $lightest-gray;
  }
}
