.gif-collection {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  max-height: 85vh;
  overflow-y: auto;
}
.gif-entry {
  box-sizing: border-box;
  margin: 0.5rem;
  img {
    border-radius: 10px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      filter: alpha(opacity=100);
    }
  }
  &:hover {
    background-color: $lightest-gray;
  }
}

.active img {
  opacity: 1;
  filter: alpha(opacity=100);
}
