// Main.scss is for global and top level container styling.
body,
html {
  height: 100%;
  margin: 0;
}
.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 100%;
}

#navbar {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  form,
  div {
    padding: 1rem;
    display: flex;
  }

  input,
  button {
    padding: 0.5rem 1rem;
    font-size: 100%;
    display: block;
    text-decoration: none;
    border: solid 1px $dark-gray;
    background: white;
    border-radius: 5px;
  }
  form {
    :first-child {
      border-radius: 5px 0 0 5px;
    }
    :last-child {
      border-radius: 0 5px 5px 0;
      border-left: none;
    }
  }
  div > button {
    border-radius: 50px;
    margin: 0 1rem;
    background-color: $dark-gray;
    color: $text-light;
    &:hover {
      background-color: $gray;
    }
  }
}

#main {
  flex: 1 1 0;
  left: 0;
  z-index: 0;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
